@import "Colors";
@import "Dimensions";

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 45px;
  width: fit-content;
  padding: 1vw;
  height: $h-btn;
  border-radius: 6px;
  cursor: pointer;
  background-color: $quaternary;
  color: $primary;
}

.ghost{
   background-color: transparent;
   border: 4px solid $secondary;
   color: $quaternary;
}

.button.rev{
  background-color: $secondary;
  color: $quaternary;
}

.ghost.rev{
  border: 4px solid $quaternary;
  color: $quaternary;
}

.underline{
  background-color: transparent;
  border-bottom: 4px solid $secondary;
  color: $quaternary;
  border-radius: 0;
  padding: 0;
}
.underline.rev{
  background-color: transparent;
  border-bottom: 4px solid $quaternary;
  color: $quaternary;
  border-radius: 0;
  padding: 0;
}

.icon{
  height: $h-btn;
  width: $h-btn;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $quaternary;
  color: $primary;
  transition: 0.5s;
  cursor: pointer;
}

.icon:hover{
  background-color: $primary;
  color: $quaternary;
  transition: 0.5s;
}

.icon.rev{
  background-color: $primary;
  color: $quaternary;
}

.icon.rev:hover{
  background-color: $quaternary;
  color: $primary;
  transition: 0.5s;
}

.icon.square{
  border-radius: 6px;
}