//COLOR SCHEME A
$pink: #FFF2F2;
$cornflower: #A9B5DF;
$blue2: #7886C7;
$indigo: #2D336B;

//COLOR SCHEME B
$lemongrass: #D5E7B5;
$sage: #72BAA9;
$violet:#7E5CAD;
$navy: #474E93;

//COLOR SCHEME C
$orange: #FFD2A0;
$rose: #EFB6C8;
$lilac: #A888B5;
$lavender: #8174A0;

//COLOR CONTROLS 1
//$primary: $lemongrass;
//$secondary: $sage;
//$tertiary: $violet;
//$quaternary: $navy;

//COLOR CONTROLS 2
//$primary: $orange;
//$secondary: $rose;
//$tertiary: $lilac;
//$quaternary: $lavender;

//COLOR CONTROLS 3
$primary: $pink;
$secondary: $cornflower;
$tertiary: $lavender;
$quaternary: $indigo;