.header{
  letter-spacing: 2.5vw;
  background-size: cover;
  color: $primary;
  background-position: 100% 20%;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 25vh;
  font-size: calc(12px + 4vw);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.panel{
  display: grid;
  margin: 6rem;
  grid-gap: 1vw;
  width: 80%;
  align-self: center;
  justify-self: center;
  align-content: center;
  min-height: 25vh;
}

.gap{
  margin-right: 1vw;
}