@keyframes parallax{
  from{
    transform: translateY( 0 );
  }
  to{
    transform: translateY(-100%);
  }

}

@keyframes parallax-1{
  from{
    transform: translateY(30%);
  }
  to{
    transform: translateY(-50%);
  }
}

@keyframes parallax-2{
  from{
    transform: translateY(60%);
  }
  to{
    transform: translateY(-40%);
  }
}

@keyframes parallax-3{
  from{
    transform: translateY(100%);
  }
  to{
    transform: translateY(-20%);
  }
}

@keyframes expand {
  from{
    width: 0;
    opacity: 0;
  }
  to{
    width: 100%;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}

@keyframes slidein {

  from{
    transform: translateX(5%);
  }
  to{
    transform: translateX(0%);
  }
}
