@import './base.css';
@import './Colors';

#app {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background: $primary;
  color: $quaternary;
}

a{
  text-decoration: none;
}

.image{
  background-size: cover;
  background-position: 100% 100%;
  color: $primary;
}
