@import './base.css';
@import './Colors';

#app {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 16px;

  background: $primary;

  //background: linear-gradient(217deg, rgba(140, 222, 202, 0.8), rgba(255,0,0,0) 70.71%),
  //linear-gradient(127deg, rgba(175, 162, 243, 0.8), rgba(0,255,0,0) 70.71%),
  //linear-gradient(336deg, rgb(160, 195, 255), rgba(0,0,255,0) 70.71%);
}

a{
  color: #B59194;
  text-decoration: none;
}
