
.parallax{
  animation-name: parallax;
  animation-duration: 1ms;
  animation-direction: alternate;
  animation-timeline: scroll(block nearest);
}

.parallax-1, .parallax-2, .parallax-3{
  animation-duration: 1ms;
  animation-direction: alternate;
  animation-timeline: scroll(block nearest);
}
.parallax-1{
  animation-name: parallax-1;
}
.parallax-2{
  animation-name: parallax-2;
}
.parallax-3{
  animation-name: parallax-3;
}